<div class="container mt-4">
  <h2 class="text-center mb-4">Placements</h2>

  <button class="btn btn-primary mb-3" (click)="openModal()">Add Placement</button>

  <table class="table table-bordered table-hover text-center">
    <thead class="table-dark">
      <tr>
        <th>Company</th>
        <th>Package</th>
        <th>Students Placed</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of placements">
        <td>{{ p.company }}</td>
        <td>{{ p.package }}</td>
        <td>{{ p.studentsPlaced }}</td>
        <td>{{ p.status }}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="deletePlacement(p._id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div *ngIf="showModal" class="modal fade show d-block"
     style="background: rgba(0,0,0,0.5); position: fixed; top:0; left:0; right:0; bottom:0;">
  <div class="modal-dialog" style="margin-top: 10%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Add Placement</h5>
        <button class="btn-close" (click)="closeModal()"></button>
      </div>

      <div class="modal-body">
        <input class="form-control mb-2" placeholder="Company" [(ngModel)]="data.company">
        <input class="form-control mb-2" placeholder="Package" [(ngModel)]="data.package">
        <input type="number" class="form-control mb-2" placeholder="Students Placed" [(ngModel)]="data.studentsPlaced">

        <select class="form-select" [(ngModel)]="data.status">
          <option value="Completed">Completed</option>
          <option value="Upcoming">Upcoming</option>
        </select>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button class="btn btn-primary" (click)="addPlacement()">Save</button>
      </div>
    </div>
  </div>
</div>
